:root {
  /* Grayscale */
  --able-gray-10: #141414;  
  --able-gray-20: #2D2D2D;  
  --able-gray-30: #3C3C3C;  
  --able-gray-40: #484848;  
  --able-gray-50: #646464;  

  /* Text */
  --able-text: #EEEEEE;     

  /* Vibrant accents */
  --able-hot-pink: #FF39D4;     
  --able-fuchsia-tom: #FF2B6F;  
  --able-peach: #FFA374;        
  --able-coral: #FF94A6;        
  --able-cyan: #19E9FF;         
  --able-aqua: #5CFFE8;         
  --able-orange: #F39420;       
  --able-lemon: #FFF034;        
  --able-pale-yellow: #F7F47C;  
}

* {
    margin: 0;
    padding: 0;

}

body {
    color: var(--able-gray-30);
    background-color: var(--able-text);
    font-family: Jost;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 25px;

}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

img {
    border: 1px solid var(--able-gray-30);
    border-radius: 20px;
}

button {
    /* Nollställ allt */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    background: none;
    cursor: pointer;
    font: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Dina egna stilar */
    background-color: var(--able-gray-30);
    color: var(--able-text);
    width: 100px;
    height: 50px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
}


button:hover,
button:focus-visible,
button:active {
    background-color: var(--able-text);
    color: var(--able-gray-30);
    border: 1px solid var(--able-gray-30);
    outline: none;
    box-shadow: none;
}

#footer {
    display: flex;
    justify-content: center;   
    align-items: center;       
    min-height: 150px;         
    
}

#footer a {
    display: inline-flex;         
    justify-content: center;
    align-items: center;
    padding: 5px;           
    color: var(--able-gray-30);
    text-decoration: none;
    border-radius: 5px; 
    text-decoration: underline;      
    
}

#footer a:hover {
    color: var(--able-text);
    background-color: var(--able-gray-30);
}